body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #FEF9FF;
    text-align: justify;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-top: 1em;
}

p {
    text-indent: 50px;
}

section {
    padding: 1em;
}

img{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}